<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Welcome to User Dashboard</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a [routerLink]="['/App/User/Dashboard']">Dashboard</a>
            </li> 
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="" class="btn btn-primary">This is action area</a>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
    <div class="wrapper wrapper-content">
        <div class="middle-box text-center animated fadeInRightBig">
            <h3 class="font-bold">This is page content</h3>

            <div class="error-desc">
                You can create here any grid layout you want. And any variation layout you imagine:) Check out main dashboard and other site. It use many different layout.
                <br/><a [routerLink]="['/App/User/Dashboard']" class="btn btn-primary m-t">Dashboard</a>
            </div>
        </div>
    </div>
</div>
</div>