<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <div class="pull-left m-r-md">
        <i class="fa fa-globe text-navy mid-icon glob-icon"></i>
    </div>
      <h2>Welcome to Forum, <span class="sub-text-size">Feel free to choose topic you're interested in.</span></h2> 
      <ol class="breadcrumb">
          <li>
              <a [routerLink]="['/App/User/Dashboard']">Dashboard</a>
          </li>
          <li class="active">
              <strong>Forum</strong>
          </li>
      </ol>
  </div>
  <div class="col-sm-4">
      <div class="title-action">
          <a [routerLink]="['/App/User/Add/Code-Snippet']" class="btn btn-primary">Add New Code Snippet <i class="fa fa-long-arrow-right"></i></a>
      </div>
  </div>
</div>
<div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight"> 
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: 320,800</small>
                        </div>
                        <h3>Total Code Snippet(s)</h3>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">General Discussion</a>
                                <div class="forum-sub-title">Talk about sports, entertainment, music, movies, your favorite color, talk about enything.</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    1216
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    368
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    140
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Introductions</a>
                                <div class="forum-sub-title">New to the community? Please stop by, say hi and tell us a bit about yourself. </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    890
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    120
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    154
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Announcements</a>
                                <div class="forum-sub-title">This forum features announcements from the community staff. If there is a new post in this forum, please check it out. </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    680
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    124
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    61
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>