<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>This is main title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">This is</a>
            </li>
            <li class="active">
                <strong>Breadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="" class="btn btn-primary">This is action area</a>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
        <input placeholder="search for location" autocorrect="off" 
        autocapitalize="off" spellcheck="off" type="text" 
        class="form-control" #search [formControl]="searchControl">
     
      <button type="button" (click)="getDirection()">Populate on Map</button>
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-direction  
            *ngIf="dir" 
            [waypoints]="dir.waypoints"
            [origin]="dir.origin" 
            [destination]="dir.destination"
            [travelMode]="dir.travelMode">
        </agm-direction>
      </agm-map>
  </div>
</div>