<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
      <h2>Welcome to Admin Dashboard</h2>
      <ol class="breadcrumb">
          <li>
              <a [routerLink]="['/App/Admin/Dashboard']">Dashboard</a>
          </li> 
          <li class="active">
              <a [routerLink]="['/App/Admin/Bus/User/Summary']">Bus User Summary</a>
          </li> 
      </ol>
  </div>
  <div class="col-sm-8">
      <div class="title-action">
          <a href="javascript:void(0);" class="btn btn-primary">This is action area</a>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Academic Year : 2018-2019</h5>
          </div>
          <div class="ibox-content">
              <form method="get" class="form-horizontal">
                <div class="form-group"> 
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">
                                            Brand
                                        </label>
                                        <div class="col-lg-9"> 
                                            <select class="form-control">
                                                <option>-- Select --</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">
                                            Cluster
                                        </label>
                                        <div class="col-lg-9"> 
                                            <select class="form-control">
                                                <option>-- Select --</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>

                            
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">
                                            Center
                                        </label>
                                        <div class="col-lg-9"> 
                                            <select class="form-control">
                                                <option>-- Select --</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            
                            <div class="col-md-3">
                                <input type="button" value="View Details" class="btn btn-primary btn-block">
                            </div>
                        </div>
                    </div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Current Year(2018-2019)</h5>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Total Student</th> 
                        <th>Bus Users</th> 
                        <th>Seating Capacity</th> 
                        <th>Used Bus(s)</th> 
                        <th>Spare Bus(s)</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center">No data found to display!</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>


<div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Current Year(2018-2019)</h5>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Bus User Students</th> 
                        <th>Bus User Staffs</th> 
                        <th>Total Bus Users</th>
                        <th>Increase in Number of Bus Users</th>
                        <th>Ratio Of Bus User With School Student</th>
                        <th>Bus Requirement</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" class="text-center">No data found to display!</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>


<div class="ibox float-e-margins">
        <div class="ibox-title"> 
                <div class="col-md-6">
                    <h5>Center Name : [Center Name]</h5>
                </div>
                <div class="col-md-6">
                    <h5>Center Code : [Center Code]</h5>
                </div>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Bus User Students</th> 
                        <th>Bus User Staffs</th> 
                        <th>Total Bus Users</th>
                        <th>Increase in Number of Bus Users</th>
                        <th>Ratio Of Bus User With School Student</th>
                        <th>Bus Requirement</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" class="text-center">No data found to display!</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>