<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
      <div class="pull-left m-r-md">
          <i class="fa fa-globe text-navy mid-icon glob-icon"></i>
      </div>
        <h2>Welcome to Forum, <span class="sub-text-size">Feel free to choose topic you're interested in.</span></h2> 
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/App/User/Dashboard']">Dashboard</a>
            </li>
            <li>
                <a [routerLink]="['/App/User/Forum']">Forum</a>
            </li>
            <li class="active">
                <strong>Add Forum</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
        <div class="title-action">
            <a [routerLink]="['/App/User/Forum']" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i> Forum</a>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Provide details. Share your research. <small>Is your question about programming?</small></h5>
                  <div class="ibox-tools">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="fa fa-wrench"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                          <li><a href="#">Config option 1</a>
                          </li>
                          <li><a href="#">Config option 2</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="ibox-content">
                  <form method="get" class="form-horizontal">
                      <div class="form-group"><label class="col-sm-2 control-label">Title</label> 
                          <div class="col-sm-10"><input type="text" [(ngModel)]="model.Title" name="model.Title" class="form-control" title="Title" placeholder="What's your programming question? Be specific."></div>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group"><label class="col-sm-2 control-label">Tag</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" [(ngModel)]="model.Tags" name="model.Tags" multi-select-dropdown>
                            <span class="help-block m-b-none">
                                at least one tag such as (.Net Java Angular), max 5 tags.
                            </span>
                          </div>
                      </div>  
                      <div class="hr-line-dashed"></div> 
                      <div class="form-group">
                          <div class="col-sm-4 col-sm-offset-2">
                              <button class="btn btn-white" type="submit">Cancel</button>
                              <button class="btn btn-primary" type="submit">Save changes</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>